dataset/
notebook/data/

outputs
outputs/checkpoints/*
outputs/
src/__pycache__/*
*.pyc
__pycache__/
*.pt

__pycache__/
*.py[cod]
.env
.venv
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
dist/
build/